body {
  margin: 0;
  padding: 0;
  font-family:"system-ui"; 
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App {
  text-align: center;
  padding: 40px 20px;
  min-height: 100vh;
  background: rgb(43, 43, 43);
  color: whitesmoke;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1 {
  font-size: 4rem;
  font-weight: 20;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-family:"Roboto Mono", "Roboto Mono", "Vazirmatn", monospace;  
  color: rgb(190, 50, 50);
}

header {
  margin-bottom: 50px;
}

label {
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 10px;
  color: whitesmoke;
}

section {
  margin: 40px 0;
  padding: 20px;
  background: rgb(69, 69, 69);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

button {
  padding: 12px 25px;
  font-size: 1rem;
  font-family: system-ui;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  background: linear-gradient(135deg, #ff1515, #850000);
  color: whitesmoke;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(155, 0, 0, 0.3);
}

button:focus {
  outline: none;
}

input[type="text"] {
  padding: 12px;
  font-size: 1.1rem;
  font-family: system-ui;
  font-weight:500;
  border: 2px solid #5b5b5b;
  border-radius: 30px;
  width: 320px;
  margin-top: 15px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  border-color: #ff3a3a;
  background-color: #fdfdfd;
}

p {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: system-ui;
  color: whitesmoke;
}

h3{
  font-size: 1.2rem;
  font-family: system-ui;
  font-weight:bolder;
  color: whitesmoke;
}

.goal{
  padding: 15px;
  position: relative;
  left: 100px;
  margin: 10px 0;
  width: 100%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.5s ease; 
  font-family: system-ui;
  font-weight:600
}